body {
 padding-top: 70px;
 }

 p{
     margin-top: 10px;
     margin-left: 10px;
     margin-right: 10px;
     background-color: bisque;
     height:1000px
 }

 #nav-list{
     background-color: rgb(197, 233, 240);
     text-align: center;
     
 }